extends __layout.pug

block content
	section#error.container
		h1 404, Halaman tidak ditemukan
		p Halaman yang anda cari tidak tersedia atau terjadi kesalahan routing.
		a.btn.btn-success(href='/') KEMBALI KE HALAMAN UTAMA